BR2T_VERSION := 2019.08.1

BR2T_NAME := br_template

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := stm32mp157c_ev1
BR2T_RECOVERY_DEFCONFIG := stm32mp157c_ev1_recovery

BR2T_SWDESCRIPTION := board/stm32mp157c_ev1/sw-description

BR2T_IMAGE_FILES := "out/stm32mp157c_ev1/images/u-boot.bin:/" \
			"out/stm32mp157c_ev1/images/versatile-pb.dtb:/" \
			"out/stm32mp157c_ev1/images/rootfs.ext2:/" \
			"out/stm32mp157c_ev1/images/zImage:/" \
			"out/qstm32mp157c_ev1_recovery/images/zImage:zImage-recovery" \
