BR2T_VERSION := 2018.02.7

BR2T_NAME := br_template

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := qemu_arm_versatile_custom
BR2T_RECOVERY_DEFCONFIG := qemu_arm_versatile_custom_recovery

BR2T_SWDESCRIPTION := board/custom/sw-description

BR2T_IMAGE_FILES := "out/qemu_arm_versatile_custom/images/u-boot.bin:/" \
			"out/qemu_arm_versatile_custom/images/versatile-pb.dtb:/" \
			"out/qemu_arm_versatile_custom/images/rootfs.ext2:/" \
			"out/qemu_arm_versatile_custom/images/zImage:/" \
			"out/qemu_arm_versatile_custom_recovery/images/zImage:zImage-recovery" \
